<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Seleniunm WebDriver" verbose="1">

    <groups>
        <run>
            <include name="order"/>
        </run>
    </groups>

    <test name="Run on Chrome Browser">
        <packages>
            <package name="orangeHrm.categories"></package>
            <package name="orangeHrm.customer"></package>
            <package name="orangeHrm.orders"></package>
        </packages>
        <!--<classes>
            <class name="selenium.testng.Topic_02_Annotations">
                <methods>
                    <include name="Test02"/>
                </methods>
            </class>
        </classes>-->
    </test>
</suite>